.chat-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100dvw;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.chat-header .back-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  rotate: 45deg;
  border-left: 4px solid #0182ff;
  border-bottom: 4px solid #0182ff;
  border-bottom-left-radius: 4px;
  margin-left: 12px;
}

.chat-header .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: gray;
}