.chat-header {
  position: fixed;
  top: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 56px;
  background-color: rgba(255,255,255,0.8);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  backdrop-filter: blur(20px);
}
.chat-header .back-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  rotate: 45deg;
  border-left: 3.5px solid #0182ff;
  border-bottom: 3.5px solid #0182ff;
  border-bottom-left-radius: 4px;
  margin-left: 16px;
}
.chat-header .avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: gray;
  margin-inline: 8px;
}
.chat-header .avatar-and-contact-info {
  display: flex;
  align-items: center;
}
.chat-header .name-and-info {
  display: flex;
  flex-direction: column;
}
.chat-header .left-side {
  display: flex;
  align-items: center;
}
.chat-header .chat-name {
  font-size: 1rem;
}
.chat-header .network-status {
  font-size: .9rem;
}

/*=====================================*/

.chat-header .right-side {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-right: 16px;
}
.chat-header .call-button {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
}
.chat-header .call-button img {
  width: 28px;
  height: 28px;
  filter: brightness(110%);
}


/*=====================================*/