.dropdown-menu {
  position: fixed;
  z-index: 120;
  right: 12px;
  top: 48px;
  background-color: rgba(255,255,255, 0.6);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  backdrop-filter: blur(16px);
  width: 160px;
  height: auto;
  /*padding-block: 12px;*/
  border-radius: 12px;
  padding-block: 8px;
}
.dropdown-menu button {
  width: 100%;
  height: auto;
  text-align: left;
  padding-inline: 1rem;
  padding-block: 10px;
  
  font-size: 15px;
  /*border-bottom: 1px solid gray;*/
}

/*=======================================*/

.transparent-layer {
  background-color: transparent;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

.dropdown-menu .dropdown-menu-button:hover {
  background-color: lightgray;
}

.dropdown-menu .dropdown-menu-button {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: left;
}