.landing-page-header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  z-index: 20;
}
.landing-page-header header {
  display: flex;
  flex-direction: column;
}
.landing-page-header header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 12px;
  margin-inline: 12px;
}
.landing-page-header .right-side {
  display: flex;
  gap: 12px;
}
.landing-page-header header .camera, .landing-page-header header .more-options {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  filter: saturate(0) brightness(0);
}
.landing-page-header .more-options {
  transform: translateY(-2px);
}
.landing-page-header .camera img {
  width: 280px;
  height: 28px;
}
.landing-page-header header .search {
  
  margin-inline: 12px;
  margin-bottom: 8px;
  padding-block: 12px;
  padding-inline: 16px;
  border-radius: 24px;
  border: none;
  background-color: rgba(90,49,5,0.05);
  outline: none;
  font-size: 1rem;
  display: flex;
}

/*====================================*/

