.active-chat-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100dvh;
  overflow: hidden;
  background-color: #eeeeee;
}

.active-chat-page .chat-background-wallpaper {
  max-width: 100%;
  height: auto;
  opacity: 0;
}