.active-chat-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100dvh;
  background-color: gray;
}
.active-chat-page form {
  display: flex;
  width: 100%;
  height: 52px;
  background-color: white;
  z-index: 10;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
}
.active-chat-page form button {
  position: relative;
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.active-chat-page form input {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;
}
.active-chat-page form .input-column {
  display: flex;
  background-color: rgba(0,0,0,0.10);
  border-radius: 50px;
  width: 100%;
  height: 32px;
  padding-inline: 12px;
  padding-block: 4px;
  align-items: center;
}
.active-chat-page form .left-side {
  display: flex;
  align-items: center;
  flex: 1;
}
.active-chat-page form .right-side {
  display: flex;
  align-items: center;
  margin-inline: 12px;
  gap: 16px;
  margin-left: 20px;
}
.active-chat-page form .more-input-button .vertical-line {
  position: absolute;
  z-index: 10;
}
.active-chat-page form .more-input-button {
  margin-inline: 8px;
}
.active-chat-page form button img {
  width: 24px;
  height: 24px;
}